

.field-dialog-list {
    flex-direction: column;
    display: flex;
}

.title-dialog {
    text-align: center;
}

.custom-buttons {
    justify-content: center;
}

.hight-drop-down {
    height: 29px;
}

.button-dialog {
width: 70px;
margin-left: 10px;
background-color: #04AA6D;
color: white;
}

.field-add {
    margin-bottom: 10px;
}
